
<br>
<br>
<br>
<br>

<div class="container-fluid">
	<div class="row">
		<div class="col-md-4">
		</div>
		<div class="col-md-4">
			<div class="card bg-dark">
				<h5 class="card-header text-white">
					Prueba de agilidad
				</h5>
				<div class="card-body">
                    <img src="../../../assets/images/pruebaDeAgilidad.png" alt="" style="height: 100%; width: 100%; border-radius: 15px; margin-bottom: 15px;">
					<p class="card-text text-white text-justify">
						El juego consiste en cuatro botones que el usuario debe intentar presionar cuando cambian de color, antes de que estos vuelvan a su color original, a pedida que se juntan puntos el tiempo se ve reducido por 300ms, al llegar a 12 puntos ganados, gana el juego
					</p>
				</div>
			</div>
		</div>
		<div class="col-md-4">
		</div>
	</div>
</div>

<div class="fullscreen-bg"></div>