
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
      <a class="navbar-brand" href="#" [routerLink]="['/home']">Sala de juegos</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#" [routerLink]="['/home']">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" (click)="singOut()">Log Out</a>
          </li>
        </ul>
        <a class="nav-link disabled text-white" href="#">Bienvenido: {{this.usuario.currentUser}}</a>
      </div>
    </nav>

    <main role="main">

      <!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="jumbotron jumbo-bg">
        <div class="container">
          <h1 class="display-3 text-white">Agustin Bernheim</h1>
          <p><a class="btn btn-primary btn-lg" [routerLink]="['/quiensoy']" role="button">Quien soy &raquo;</a></p>
        </div>
      </div>

      <div class="container">
        <!-- Example row of columns -->
        <div class="row justify-content-center gap-4">
          <div class="card col-md-3 border border-warning">
              <h2 >Ahorcado</h2>
              <p >Se debe adivinar una palabra, solamente sabiendo su cantidad de letras. Debe adivinarse la palabra antes de perder los 6 intentos y ser ahorcado!</p>
              <p><a class="btn btn-warning" href="#" role="button" [routerLink]="['/saladejuegos/ahorcado']">Jugar &raquo;</a></p>
          </div>
          <div class="card col-md-3 border border-warning">
            <h2>Mayor o Menor</h2>
            <p>Suma puntos adivinando si el proximo numero aleatorio será mayor o menor al anterior!</p>
            <p><a class="btn btn-warning" href="#" role="button" [routerLink]="['/saladejuegos/mayormenor']">Jugar &raquo;</a></p>
          </div>
        </div>
        <div class="row justify-content-center gap-4">
          <div class="card col-md-3 border border-warning">
            <h2>Preguntados</h2>
            <p>Una trivia de preguntas en la que se tiene tres posibles respuestas, si acertas la correcta, podras pasar a la siguiente!</p>
            <p><a class="btn btn-warning" href="#" role="button" [routerLink]="['/saladejuegos/preguntados']">Jugar &raquo;</a></p>
          </div>
          <div class="card col-md-3 border border-warning">
            <h2>Prueba de agilidad</h2>
            <p>Prueba tus reflejos e intenta clickear en los botones antes de que vuelvan a cambiar de color!</p>
            <p><a class="btn btn-warning" href="#" role="button" [routerLink]="['/saladejuegos/juegopropio']">Jugar &raquo;</a></p>
          </div>
        </div>

        <hr>
      </div> <!-- /container -->
      
      <div class="fullscreen-bg"></div>
    </main>

    <footer class="container">
      <div class="col-md-4"></div>
      <div class="col-md-4">
        <div class="card bg-light">
          <p>Laboratorio 4 - 2do cuatrimestre 2021</p>
          <p><a class="btn btn-warning" href="#" role="button" [routerLink]="['/chat']">Sala de chat &raquo;</a></p>
        </div>
      </div>
      <div class="col-md-4"></div>


    </footer>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="../../../../assets/js/vendor/popper.min.js"></script>
    <script src="../../../../dist/js/bootstrap.min.js"></script>
